In [1]:
# List of High Schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
# Define high school dictionary
high_schools_dict = {"Griffin": "District", "Figueroa": "District", "Wilson": "Charter", "Wright": "Charter"}

In [5]:
# Iterate through list of dictionaries to print out key, value pairs (high schools and types)
for high_schools_dict in high_school_types:
    print(high_schools_dict)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [6]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
# Add the Pandas dependency.
import pandas as pd

In [8]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
for high_schools in school_series:
    print(high_schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [12]:
# Convert high schools dictionary to DataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [14]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [15]:
# Add the list to a new DataFrame
schools_df["School ID"] = school_id

#Print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [16]:
# Add the school_name list as "School Name"
schools_df["School Name"] = school_name

#Add the type_of_school list as "Type"
schools_df["Type"] = type_of_school

#Print the DataFrame
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
# Create a dictionary of information on high schools. (Another way to create the DataFrame.)
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [18]:
# Convert dictionary to DataFrame.
high_schools_info = pd.DataFrame(high_schools_dict)
high_schools_info

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [19]:
# Get column names
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [20]:
# Get indices
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
#Apply values attribute
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [26]:
# Add column headers A, B, C by creating a list for each column and add each list to a new DataFrame
# 1. Create lists.
A = ["School ID", 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
B = ["school_name", "Huang High School" , "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
C = ["type", "District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [27]:
# 2. Initialize a new DataFrame
school_df_new = pd.DataFrame()

In [29]:
# 3. Add lists to new DataFrame
school_df_new["A"] = A
school_df_new["B"] = B
school_df_new["C"] = C

# 4. Print DataFrame
school_df_new

            A                      B         C
0   School ID            school_name      type
1           0      Huang High School  District
2           1   Figueroa High School  District
3           2    Shelton High School   Charter
4           3  Hernandez High School  District
5           4    Griffin High School   Charter
6           5     Wilson High School   Charter
7           6    Cabrera High School   Charter
8           7     Bailey High School  District
9           8     Holden High School   Charter
10          9       Pena High School   Charter
11         10     Wright High School   Charter
12         11  Rodriguez High School  District
13         12    Johnson High School  District
14         13       Ford High School  District
15         14     Thomas High School   Charter

In [35]:
# Read csv file on schools
df = pd.read_csv('Resources/schools_complete.csv')
print(df)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [36]:
# Read csv file on students
df = pd.read_csv('Resources/students_complete.csv')
print(df)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]